@mixin flex-center {
    display: flex;
    align-items: center;
}

.main-area-content{
    display: flex;
    overflow-y: hidden;


    .side-menu{
        background: var(--dark);
        height: 100vh;
        position: fixed;

        &.opened-menu { 
            width: auto;

            .menu-list {
                width: 200px !important;
            }

            +.dashboard-content {
                margin-left: 238px;
            }
        }

        &.closed-menu { 
            width: 70px;
            transition: 2s all ease-in;

            +.dashboard-content {
                margin-left: 70px;
            }

        }
        
        .menu-list{
            list-style-type: none;
            padding: 0 8px;
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            .menu-list-item {
                height: 50px;
                @include flex-center();
                gap: 1.2em;
                border-radius: 6px;
                padding: 0 8px;
                transition: 0.2s all ease-in;
                background: inherit;
                
                &:hover:not(.active){
                    background: lighten($color: #121212, $amount: 6);
                }
                h4{ margin: 0; }
                svg{ font-size: 23px;}
            }

            .menu-list-item-closed {
                aspect-ratio: 1;
                border-radius: 3px;
                @include flex-center();
                justify-content: center;
            }
            .active{
                background: lighten($color: #121212, $amount: 7);
                color: var(--success);
            }

            .not-active {
                color: darken($color: #fff, $amount: 30);
            }

           
        }

    }
}


.expand-menu {
    color: var(--primary);
    margin-top: auto;
}
.contrast-menu {
    background: lighten($color: #121212, $amount: 7);
    color: var(--primary);
    margin-top: auto;
}

.log-out {
    color: var(--danger);
    margin-top: auto;

    &:hover {
        background: #fff !important;
    }
}

.dashboard-content {
    flex-grow: 100;
}