@mixin flex-center {
    display: flex;
    align-items: center;
}

.main-area-content{
    display: flex;


    .side-menu{
        background: var(--dark);
        height: 100vh;

        &.opened-menu { 
            width: auto;

            .menu-list {
                width: 200px !important;
            }
        }

        &.closed-menu { 
            width: 70px;
            transition: 2s all ease-in;
        }
        
        .menu-list{
            list-style-type: none;
            padding: 0 8px;
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            .menu-list-item {
                height: 50px;
                @include flex-center();
                gap: 1.2em;
                border-radius: 6px;
                padding: 0 8px;
                transition: 0.2s all ease-in;
                background: inherit;
                
                &:hover:not(.active){
                    background: lighten($color: #121212, $amount: 6);
                }
                h4{ margin: 0; }
                svg{ font-size: 23px;}
            }

            .menu-list-item-closed {
                aspect-ratio: 1;
                border-radius: 3px;
                @include flex-center();
                justify-content: center;
            }
            .active{
                background: lighten($color: #121212, $amount: 7);
                color: var(--success);
            }

            .not-active {
                color: darken($color: #fff, $amount: 30);
            }

            .log-out {
                color: var(--danger);

                &:hover {
                    background: #fff !important;
                }
            }
        }

    }
}


.expand-menu {
    background-color: var(--secondary);
    color: var(--primary);
}