:root {
    --primary: #0267c1;
    --secondary: #6761a8;
    --danger: #F21B3F;
    --orange: #ff521b;
    --dark: #141414;
    --medium: #2a2d34;
    --sucess: #009b72;
    --dark-green: #417b5a;
    --light-tint: #d0ceba;
    --light: #ffffff;
}
