.main-area-content{
    display: grid;
    grid-template-columns: 20% 80%;

    .side-menu{
        width: auto;
        
        .menu-list{
            list-style-type: none;

            .menu-list-item {
                height: 60px;
                display: flex;
                align-items: center;
                gap: 2em;
                border-radius: 6px;
            }
        }
    }
}